* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.header {
    background-color: rgba(0, 0, 0, 0.988);
    height: 90px;
    width: 100%;

}
h2.d{
    color: white;
    font-style: italic;

}
span.rentalinaja{
    color: orange ;
    font-style: italic;
}

div .login p a {
    padding: 10px 20px 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    text-align: left;
    width: 50px;
    position: relative;
    left: 1125px;
    bottom: 25px;
    text-align: center;
    text-decoration: none;

}

div.login p a:hover {
   
    color: rgba(0, 0, 0, 0.988);
    background-color: white;
    transition: 0.7s ease-in-out;
}

.namarental {
    display: inline-block;
    list-style: none;
    margin-left: 50px;
    margin-top: 30px;
    color: black;
}

div.iklanmobil {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/kendrick-fernandez-Dg4KQSC7jOo-unsplash.jpg);
    background-position: 0px -270px ;

    background-size: cover;

    height: 520px;
    width: 100%;

}

nav {
    width: 100%;
    height: 50px;
    background-color: #fff;
    background:rgba(255, 255, 255, 0.7);
    flex: 1;
    text-align: left;
    


}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 50px;
    margin-top: 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: orange;
    color: white;
    border-radius: 6px;
    transition: 0.7s ease-in-out;
}

.containbatas {
    width: 100%;
    height: 30px;
    background-color: white;
}
div.containnav{
    background-color: rgba(0, 0, 0, 0.988);
        height: 150px;
        width: 100%;
}

div.contain{
    background-color: aquamarine;
    width: 1100px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}